{% extends 'base.html' %}
{% block project %}

<section class="title">
    <h1 class="main">Project-Auto</h1>
    <p>Your way to speedy <span class="machine-learning ">machine-learning</span> models</p>
</section>
<section id="What_isit">
    <h2>So, what do we do???</h2>
    <p>
    <p>
        Machine learning is a booming technology now-a-days, but along with that are booming the prices to implement and
        them, even after doing so the result is not always to up the mark.
    </p>
</section>
<section id="Why_this">
    <h2>But, why should you choose us?</h2>
    <h4>Because we are Free!!!!!!!!</h4>
</section>

<section id="howto">
    <h2>Ohk, so now you know what we do, but what now?</h2>
    <br>
    <h4>Well now is the part you have been waiting for, <strong>Your Model.</strong></h4>
    <h4 class="howto-text">
        So there are three parts to utilise <strong>Project-Auto</strong> :-
    </h4>
    <br>
    <h3>PartOne - Choosing a path</h3>
    <br>
    <ul>
        <li>A perfectly working model -[Shorter time,No source code,Slightly clean data] <p>
            Say you are a person who just wants to get stuff done good and fast and dosen't want the code to further
            modify/understand your model.Then this mode is for you.
        </p>
        </li>
        <li>A perfectly working model with source code -[Longer time,Source code,Moderately Clean Data(for best
            results)]
        </li>
    </ul>
    <br>
    <h3>PartTwo - Uploading the specified data set and deciding the parameters</h3>
    <p>
        After choosing your path, you will be provided with a form where you need to upload your dataset(Csv or text
        file),mention the target variable and how much some questions regarding the desired output model.
    </p>
    <br>
    <h3>PartThree - Having a snack[MVP of all parts]</h3>
    <p>As mentioned earlier the process of automl is easy but it needs sometime to give you the best results.
        Based on your dataset,it could take from 10mins to an hour to provide you with the best in class free tailor
        model with upto 93% accuracy.</p>
    <br>
</section>
<section id="choice">
    <a class="btn btn-dark btn-lg" href="with-code.html" role="button">Way to Code and .pkl
        <br>
        (Beta)</a>

    <a class="btn btn-dark btn-lg" href="without-code.html" role="button">Way to .pkl <br>(Beta but
        better)</a>
    <br>
    <br>
    <a class="btn btn-outline-dark" href="pkl_usage.html" role="button">Guide to consuming .pkl files.</a>
</section>
<section id="footer">
    <p class="end">© 2020 Shivam Verma.</p>
</section>


{% endblock %}